<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Blockchain notary service</title>
    <meta charset='utf-8'>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
        crossorigin='anonymous'>
    <link href='views/styles/styles.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
</head>

<body>
    <div class="flex-container">
        <div class="jumbotron">
            <h1 class="display-4">Enter star name</h1>
            <p>Sub header text</p>
            <hr>
        </div>
    </div>
</body>

</html>
