<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Notary</title>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Star Notary</h1>

        <div class="row">
            <label class="bold">Star Name:</label>
            <label id="star-name"></label>
        </div>

        <div class="row">
            <label class="bold">Star Owner:</label>
            <label id="star-owner"></label>
        </div>

        <button id="claim-button" onclick="claimButtonClicked()">Claim Star</button>
    </div>

    <script>
        let StarNotary, starNotary;

        (async () => {
            // Modern dapp browsers...
            if (ethereum) {
                web3 = new Web3(ethereum);
                try {
                    console.log('Modern metamask');
                    await ethereum.enable();
                } catch (error) {
                    console.log("User denied access to wallet");
                }
            }
            // Legacy dapp browsers - used for legacy metamask implementation
            else if (typeof web3 != 'undefined') {
                console.log('Old metamask');
                web3 = new Web3(web3.currentProvider);
            }
            // Non-dapp browsers - lets instantiate Ganache
            else {
                console.log('Ganache');
                web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
            }

            // The interface definition for your smart contract (the ABI) 
            // ABI comes from compiled contracts on smart_contracts/build/contracts/StarNotary.json
            StarNotary = web3.eth.contract(
                [{
                    "constant": true,
                    "inputs": [
                        {
                        "name": "interfaceId",
                        "type": "bytes4"
                        }
                    ],
                    "name": "supportsInterface",
                    "outputs": [
                        {
                        "name": "",
                        "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "",
                        "type": "uint256"
                        }
                    ],
                    "name": "starsForSale",
                    "outputs": [
                        {
                        "name": "",
                        "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "getApproved",
                    "outputs": [
                        {
                        "name": "",
                        "type": "address"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "to",
                        "type": "address"
                        },
                        {
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "approve",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "",
                        "type": "uint256"
                        }
                    ],
                    "name": "tokenIdToStarInfo",
                    "outputs": [
                        {
                        "name": "name",
                        "type": "string"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "from",
                        "type": "address"
                        },
                        {
                        "name": "to",
                        "type": "address"
                        },
                        {
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "transferFrom",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "from",
                        "type": "address"
                        },
                        {
                        "name": "to",
                        "type": "address"
                        },
                        {
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "safeTransferFrom",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "ownerOf",
                    "outputs": [
                        {
                        "name": "",
                        "type": "address"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "owner",
                        "type": "address"
                        }
                    ],
                    "name": "balanceOf",
                    "outputs": [
                        {
                        "name": "",
                        "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "to",
                        "type": "address"
                        },
                        {
                        "name": "approved",
                        "type": "bool"
                        }
                    ],
                    "name": "setApprovalForAll",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "from",
                        "type": "address"
                        },
                        {
                        "name": "to",
                        "type": "address"
                        },
                        {
                        "name": "tokenId",
                        "type": "uint256"
                        },
                        {
                        "name": "_data",
                        "type": "bytes"
                        }
                    ],
                    "name": "safeTransferFrom",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "owner",
                        "type": "address"
                        },
                        {
                        "name": "operator",
                        "type": "address"
                        }
                    ],
                    "name": "isApprovedForAll",
                    "outputs": [
                        {
                        "name": "",
                        "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                    },
                    {
                    "anonymous": false,
                    "inputs": [
                        {
                        "indexed": true,
                        "name": "from",
                        "type": "address"
                        },
                        {
                        "indexed": true,
                        "name": "to",
                        "type": "address"
                        },
                        {
                        "indexed": true,
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "Transfer",
                    "type": "event"
                    },
                    {
                    "anonymous": false,
                    "inputs": [
                        {
                        "indexed": true,
                        "name": "owner",
                        "type": "address"
                        },
                        {
                        "indexed": true,
                        "name": "approved",
                        "type": "address"
                        },
                        {
                        "indexed": true,
                        "name": "tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "Approval",
                    "type": "event"
                    },
                    {
                    "anonymous": false,
                    "inputs": [
                        {
                        "indexed": true,
                        "name": "owner",
                        "type": "address"
                        },
                        {
                        "indexed": true,
                        "name": "operator",
                        "type": "address"
                        },
                        {
                        "indexed": false,
                        "name": "approved",
                        "type": "bool"
                        }
                    ],
                    "name": "ApprovalForAll",
                    "type": "event"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "_name",
                        "type": "string"
                        },
                        {
                        "name": "_tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "createStar",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "_tokenId",
                        "type": "uint256"
                        },
                        {
                        "name": "_price",
                        "type": "uint256"
                        }
                    ],
                    "name": "putStarUpForSale",
                    "outputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                    },
                    {
                    "constant": false,
                    "inputs": [
                        {
                        "name": "_tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "buyStar",
                    "outputs": [],
                    "payable": true,
                    "stateMutability": "payable",
                    "type": "function"
                    },
                    {
                    "constant": true,
                    "inputs": [
                        {
                        "name": "_tokenId",
                        "type": "uint256"
                        }
                    ],
                    "name": "starIsForSale",
                    "outputs": [
                        {
                        "name": "",
                        "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                }]
            );
            // Grab the contract at specified deployed address with the interface defined by the ABI
            starNotary = StarNotary.at('0x9445D8994e09B38f31CC18D8458128FFCa7a345E');
            // TODO( disable claim button til here )
        })();

        // Enable claim button being clicked
        const claimButtonClicked = async () => {
            console.log('clicked button');
            console.log(web3.eth.accounts);
            web3.eth.getAccounts(async (error, accounts) => { 
                if (error) { 
                    console.log(error)
                    return
                }
                console.log('got no errors', accounts);
                var account = accounts[0];
                const tx = starNotary.createStar('Test star', 1, (error, result) => {
                    if(!error) {
                        console.log('no error');
                    } else {
                        console.log('error');
                    }
                });
                console.log(tx);
            });
        }
        
    </script>
</body>

</html>
